name: Naukri Auto Update

on:
  schedule:
    - cron: "*/5 * * * *"   # Runs every 5 minutes
  workflow_dispatch:        # Allow manual trigger

jobs:
  run-naukri:
    runs-on: ubuntu-latest

    env:
      NAUKRI_USERNAME: ${{ secrets.NAUKRI_USERNAME }}
      NAUKRI_PASSWORD: ${{ secrets.NAUKRI_PASSWORD }}
      NAUKRI_MOBILE: ${{ secrets.NAUKRI_MOBILE }}
      NAUKRI_ORIGINAL_RESUME_PATH: "./resume.pdf"
      NAUKRI_MODIFIED_RESUME_PATH: "./resume_mod.pdf"

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt

      - name: Run Naukri script
        run: |
          python naukri.py

